#site_footer{
    padding:30px 0;
    .footer_content{
        display: flex;
    justify-content: space-between;
    align-items: center;
        img{
            height: 50px;
        }
        li{
            color: $brand_color;
        }
    }
}