// Main
#site_main{
    background-color: $brand_color;
    display: flex;
    padding: 20px;
    .disp{
        display: flex;
    }
    .card_trips{
        
        display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px;
    max-width: 100%;
    
    border: 1px solid darkblue;
    
        h2{
            margin: 13px;
            font-size: 18px;
            text-align: center;
           
        }
        img{
           width: 100%;
            height: 180px;
            object-fit: cover;
         
        }
        p{
            text-align: justify;
            margin-bottom: 30px;
            padding: 20px;
            line-height: 25px;
        }
        .details{
            padding: 20px;
           
        }
    }
    
}
