// Main
#site_main{
    background-color: $brand_color;
    display: flex;
    padding: 20px;
    .card_trips{
        
        display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px;
    
        h2{
            margin: 13px;
            font-size: 18px;
            text-align: center;
           
        }
        img{
            max-width: 100%;
            width: 180px;
            height: 180px;
            object-fit: cover;
         
        }
        p{
            text-align: justify;
            margin-bottom: 30px;
        }
    }
}
